@charset "utf-8";
/* CSS Document */


/*PARAMETRES ELEMENTS DE BASE*/

body{
	background-color: white;
}

h1{
	margin-top: 50px;
	color: #558197;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	text-align: center;
}

h2{
	color: #9BC2CF;
	text-align: center;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
}

.premierh3{
	margin-top: 100px;
}

h3{
	margin-left: 125px;
	margin-right: 125px;
	color: #558197;
}

p{
	text-align: justify;
	margin-left: 125px;
	margin-right: 125px;
}

.paragraphe{
	margin-bottom: 100px;
}



/*PARAMETRES REGLAGES IMAGES*/

.imgfacadeavant{
	margin-top : 150px;
	margin-left: 5px;
	width: 1500px;
}

.plansville{
	width: 900px;
	margin-top: 75px;
	margin-bottom: 90px;
	margin-left: 300px;
}

.coupetopographie{
	margin-top: 85px;
	margin-left: 130px; 
	margin-bottom: 110px;
}

.axonometrie{
	margin-top: 75px;
	margin-bottom: 75px;
	margin-left: 400px;
}

.moodboardext{
	width: 25%;
	height: auto;
	margin-left: 575px;
	margin-bottom: 125px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 2px gray;
	transition: transform 0.3s ease;
	transform: translateY(var(--translateY, 0px)) scale(var(--scale, 1));
}
 
.moodboardext:hover {
    --scale: 1.1;
}





/*CONTENEUR DU MENU*/

#menu{
    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    font-size: 17px;
	color: black;
	margin-left: 350px;
    margin-top: 90px;
}

.menuactuel{
	text-decoration: underline;
}

#menu > ul{
    margin: 0;
    padding: 0;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
    list-style: none;
    display: inline-flex;     
    gap: 200px;                
}

#menu > ul > li{
    position: relative;       
    cursor: pointer;
}

#menu > ul > li > span {
    display: inline-block;
}

#menu > ul > li:hover > span{
    color: #558197;
    transition: color 0.1s linear;
}



/*SOUS-MENUS*/

#menu ul li ul{
    position: absolute;
    top: 100%;               
    left: 50%;               
    transform: translateX(-50%);
    display: none;          
    margin: 0;
    padding: 5px 0;
    list-style: none;
}

#menu ul li:hover > ul{
    display: block;
}

#menu ul li ul li{
    padding: 5px 10px;
    width: auto;           
    text-align: center;      
    white-space: nowrap;     
}

#menu ul li ul li:hover{
    color: #558197;
    transition: color 0.1s linear;
}



/*LIENS*/

#menu a{
    color: inherit;
    text-decoration: none;
}



/*BOUTON RETOUR HAUT*/

#retourHaut{
	position: fixed;
	bottom: 5%;
	right: 1.2%;
	background: #9BC2CF;
	color: white;
	font-size: 1.2rem;
	padding: 10px;
	border-radius: 15%;
	cursor: pointer;
	display: none;	
}

@keyframes pulse{
	0%{
		transform: scale(1);
		opacity: 0.3;
	}
	50%{
		transform: scale(1.25);
		opacity: 1;
	}
	100%{
		transform: scale(1);
		opacity: 0.3;
	}
}

#retourHaut:hover{
	background: #558197;
}





/*SLIDER IMAGES*/

.image-slider{
	width: 43%;
	height: auto;
	margin-top: 75px;
	margin-left: 425px;
	margin-bottom: 80px;
	border-radius: 10px;
	box-shadow: 3px 3px 3px 2px gray;
	transition: transform 0.3s ease;
	transform: translateY(var(--translateY, 0px)) scale(var(--scale, 1));
}
 
.image-slider:hover {
    --scale: 1.1;
}

.prec, .suiv{
	cursor : pointer;
	color: white;
	fonct-weight: 900;
	font-size: 4rem;
}

#slider{
	background: #C0C0C0;
	position: fixed;
	top: 10%;
	left: 10%;
	width: 80%;
	height: 80%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	gap: 1%;
	padding: 20px;
	display: none;
	opacity: 0;
	transition: opacity 1s ease;
}

.photos{
	width: 80%;
	height: 80%;
	background: #FFFFFF;
	display: flex;
	justify-content: center;
	align-items: center;
}

.photos img{
	max-height: 100%;
	max-width: 100%;
	object-fit: contain;
}

.prec:hover, .suiv:hover{
	color: #558197;
}



/*REGLAGES SLIDER IMAGES*/

.blocvisuels1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 100px auto;
    max-width: 1400px;
}

.blocvisuels1 .image-slider{
    width: 43%;
    height: auto;
    margin: 0; 
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px gray;
    transition: transform 0.3s ease;
}

.blocvisuels1 .image-slider:hover{
    transform: scale(1.05);
}

.blocvisuels2{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 100px auto;
    max-width: 1400px;
}

.blocvisuels2 .image-slider{
    width: 43%;
    height: auto;
    margin: 0; 
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px gray;
    transition: transform 0.3s ease;
}

.blocvisuels2 .image-slider:hover{
    transform: scale(1.05);
}

.blocvisuels3{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 100px auto;
	margin-top: -30px;
    max-width: 1400px;
}

.blocvisuels3 .image-slider{
    width: 43%;
    height: auto;
    margin: 0; 
    border-radius: 10px;
    box-shadow: 3px 3px 3px 2px gray;
    transition: transform 0.3s ease;
}

.blocvisuels3 .image-slider:hover{
    transform: scale(1.05);
}